# 8. This question involves the use of simple linear regression on the Auto data set

In [129]:
import pandas as pd
import statsmodels.api as sm
from ISLP.models import summarize

In [130]:
auto = pd.read_csv('Auto.csv')
auto.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [131]:
auto = auto[['horsepower', 'mpg']]
auto.head()

  horsepower   mpg
0        130  18.0
1        165  15.0
2        150  18.0
3        150  16.0
4        140  17.0

In [132]:
# display the rows and columns values of the dataset
auto.shape

(397, 2)

In [133]:
# display how many non values of the dataset and what is the type of each column
auto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397 entries, 0 to 396
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   horsepower  397 non-null    object
 1   mpg         397 non-null    float64
dtypes: float64(1), object(1)
memory usage: 6.3+ KB

In [134]:
# count number of unique values for each columns
auto.nunique()

horsepower     94
mpg           129
dtype: int64

In [135]:
# convert 'horsepower' to numeric, if errors in some rows than to NaN for that row's value
# error = 'coerce', any value that cannot be converted to a number (such as a string or a character like '?')
auto['horsepower'] = pd.to_numeric(auto['horsepower'], errors='coerce')

In [136]:
# drop the rows where nan values
auto.dropna(inplace=True)

## (a) Use the sm.OLS() function to perform a simple linear regression with mpg as the response and horsepower as the predictor. Use the summarize() function to print the results. Comment on the output. For example:

1. Is there a relationship between the predictor and the response?
2. How strong is the relationship between the predictor and the response?
3. Is the relationship between the predictor and the response positive or negative?
4. What is the predicted mpg associated with a horsepower of 98? What are the associated 95 % confidence and prediction intervals?

In [137]:
# the intercept represents the value for the response variable, when predictor variable is zero
# so for this, I will make intercept column initialize 1 for all rows
auto['intercept'] = 1

In [138]:
auto.head()

   horsepower   mpg  intercept
0       130.0  18.0          1
1       165.0  15.0          1
2       150.0  18.0          1
3       150.0  16.0          1
4       140.0  17.0          1

In [143]:
X = auto[['horsepower','intercept']]
y = auto['mpg']

In [144]:
model = sm.OLS(y, X)
results = model.fit()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    mpg   R-squared:                       0.606
Model:                            OLS   Adj. R-squared:                  0.605
Method:                 Least Squares   F-statistic:                     599.7
Date:                Tue, 16 Jan 2024   Prob (F-statistic):           7.03e-81
Time:                        10:39:35   Log-Likelihood:                -1178.7
No. Observations:                 392   AIC:                             2361.
Df Residuals:                     390   BIC:                             2369.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
horsepower    -0.1578      0.006    -24.489      0.000      -0.171      -0.145
intercept     39.9359      0.717     55.660      0.000      38.525      41.347
==============================================================================
Omnibus:                       16.432   Durbin-Watson:                   0.920
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               17.305
Skew:                           0.492   Prob(JB):                     0.000175
Kurtosis:                       3.299   Cond. No.                         322.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [153]:
summarize(results)

               coef  std err       t  P>|t|
horsepower  -0.1578    0.006 -24.489    0.0
intercept   39.9359    0.717  55.660    0.0

1. Is there a relationship between the predictor and the response?
2. How strong is the relationship between the predictor and the response?
3. Is the relationship between the predictor and the response positive or negative?
4. What is the predicted mpg associated with a horsepower of 98? What are the associated 95 % confidence and prediction intervals?

t value for the horsepower is -24.489 is large number in absolute term indicating strong relationship between the horsepower and mpg. And p value = 0.0 is evidence that this relationship significant. 


There is negative relationship between horsepower and mpg, suggesting when horsepower value increase the response varibale 'mpg' decrease.

**(b) Plot the response and the predictor in a new set of axes ax. Use the ax.axline() method or the abline() function defined in the lab to display the least squares regression line.**

**(c) Produce some of diagnostic plots of the least squares regression fit as described in the lab. Comment on any problems you see with the fit.**