In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('play_tennis.csv')
df.sample(5)

    day outlook  temp humidity    wind play
13  D14    Rain  Mild     High  Strong   No
5    D6    Rain  Cool   Normal  Strong   No
7    D8   Sunny  Mild     High    Weak   No
9   D10    Rain  Mild   Normal    Weak  Yes
3    D4    Rain  Mild     High    Weak  Yes

In [6]:
df.drop(columns=['day'],inplace=True)

In [7]:
# P(Yes)
# P(No)

In [25]:
p_yes = df['play'].value_counts()[0]
p_no = df['play'].value_counts()[1]
p_yes, p_no

(9, 5)

In [29]:
p_yes = p_yes/ len(df)
p_no = p_no/ len(df)
p_yes, p_no

(0.0032798833819241984, 0.025510204081632654)

In [30]:
 pd.crosstab(df['outlook'], df['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [39]:
p_overcast_no =  0
p_rain_no = 2/5
p_sunny_no = 3/5

p_overcast_yes =  4/9
p_rain_yes = 3/9
p_sunny_yes = 2/9

In [40]:
 pd.crosstab(df['temp'], df['play'])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [41]:
p_cool_no = 1/5
p_hot_no = 2/5
p_mild_no = 2/5

p_cool_yes = 3/9
p_hot_yes = 2/9
p_mild_yes = 4/9

In [42]:
 pd.crosstab(df['humidity'], df['play'])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [43]:
p_high_no = 4/5
p_normal_no = 1/5

p_high_yes = 4/9
p_normal_yes = 1/9

In [44]:
 pd.crosstab(df['wind'], df['play'])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [45]:
p_strong_no = 3/5
p_weak_no = 2/5

p_strong_yes = 3/9
p_weak_yes = 6/9

In [48]:
#we have to find out outlook=sunny, temp=hot, humidity=high, wind=weak
p_yes_o = p_yes * p_sunny_yes * p_hot_yes * p_high_yes * p_weak_yes
p_yes_o

4.799097769619311e-05

In [49]:
p_no_o = p_no * p_sunny_no * p_hot_no * p_high_no * p_weak_no
p_no_o

0.001959183673469388

In [51]:
# no play